{% extends 'base.html' %}
{% block conteudo %}
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading"><h1>Lojas</h1></div>

            <div class="panel-body">
                <p></p>
            </div>
            <!-- Table -->
            <table class="table">
                <tr>
                    <td align="center"><b>Id</b></td>
                    <td><b>Nome Fantasia</b></td>
                    <td><b>Descrição</b></td>
                </tr>
                {% for loja in marketplace_userdata_list %}
                    <tr>
                        <td align="center"> {{ loja.entity_id }} </td>
                        <td> {{ loja.shop_title }} </td>
                        <td> {{ loja.company_description|cut:"<p>"|cut:"</p>"|linebreaks  }} </td>
                    </tr>
                {% endfor %}
            </table>
        </div>


{% endblock %}