{% extends "base.html" %}

{% block conteudo %}
    {% load static %}

    <div class="panel panel-default">

        <div class="panel-heading " align="center">
            <h2><b>Carga de Tabela de Fretes</b></h2>
        </div>

        <div class='panel-body col-sm-12'>
            <div class='col-sm-3'>

            </div>
            <div class='col-sm-6'>
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="panel-body">
                        {{ form.as_p }}
                    </div>
                    <p align="center">
                        <input type="submit" value="Subir arquivo" class="btn btn-primary"/>
                    </p>
                    <br/>
                </form>
            </div>
        </div>
        {% if mensagem|length > 0 %}
            <div class='panel-heading col-sm-12'>
                <br/><br/>
                <div class="alert alert-info" align="center" role="alert">{{ mensagem }}</div>
            </div>
        {% endif %}


        <div class="panel-body">

            <!-- Table -->
            <table class="table">
                <tr>
                    <td colspan="6" align="center"><h3>Planilhas Carregadas</h3></td>
                </tr>
                <tr>
                    <td><b></b></td>
                    <td><b>Planilha</b></td>
                    <td><b>Carregada em</b></td>
                    <td><b>Responsável</b></td>
                </tr>
                {% for obj in arquivos %}
                    <tr>
                        <td></td>
                        <td><a href="{{ obj.documento.url }}">{{ obj.documento.name }}</a></td>
                        <td> {{ obj.uploaded_at }} </td>
                        <td> {{ obj.usuario }} </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>


{% endblock %}