{% extends 'base.html' %}
{% load static %}
{% block page_title %}
    <h3>
        {{title}}
        <small>{{description}}</small>
    </h3>
{#    <ol class="breadcrumb">#}
{#        <li>#}
{#            <a href="{% url 'dashboard' %}">#}
{#                <i class="fa fa-dashboard"></i>#}
{#                Dashboard#}
{#            </a>#}
{#        </li>#}
{#        {% if tabela == "Tipo de Receita" %}#}
{#            <li>#}
{#                <a href="{% url 'tables:list-tipo-receita' %}">#}
{#                    <i class="fa fa-table"></i>#}
{#                    {{ tabela }}#}
{#                </a>#}
{#            </li>#}
{#        {% elif tabela == "Tipo de Despesa" %}#}
{#            <li>#}
{#                <a href="{% url 'tables:list-tipo-despesa' %}">#}
{#                    <i class="fa fa-table"></i>#}
{#                    {{ tabela }}#}
{#                </a>#}
{#            </li>#}
{#        {% elif tabela == "Forma de Recebimento" %}#}
{#            <li>#}
{#                <a href="{% url 'tables:list-forma-recebimento' %}">#}
{#                    <i class="fa fa-table"></i>#}
{#                    {{ tabela }}#}
{#                </a>#}
{#            </li>#}
{#        {%  endif %}#}
{#        <li class="active">#}
{#            Excluir#}
{#        </li>#}
{#    </ol>#}
{% endblock %}
{% block conteudo %}

<div class="row">
    <div class="col-md-12">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="">
                    {%  if produtoid %}
                        <h1><a href="{% url list_url pk=produtoid %}" >{{ tabela }} </a></h1>
                    {%  else %}
                        <h1><a href="{% url list_url  %}" >{{ tabela }} </a></h1>
                    {% endif %}
				</h1>
            </div>


            <form role="form" method="post">{% csrf_token %}
                <div class="panel-body">
					<div class="alert alert-danger">
                        <i class="fa fa-ban"></i>
						<b>Alerta!</b>
						Você tem certeza que deseja excluir	o {{ tabela|lower }}: {{ object }} ?
                    </div>
                </div>
                <div class="panel-footer">
                    <button type="submit" class="btn btn-danger">
                        Excluir
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
