{% extends "base.html" %}
{% load static %}

{% block conteudo %}

    <div class="col-md-12">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- general form elements -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1><a href="{% url list_url  %}" >{{ tabela }} </a></h1>
                </div>
                <!-- /.box-header -->

                <div class="panel-body">
                    {{ form.as_p }}
                </div>
            </div>

            <div class="panel-footer">
                <button type="submit" class="btn btn-danger">{{ operacao }}</button>
                <br/><br/>
            </div>
        </form>
    </div>

{% endblock %}

