{% extends 'base.html' %}
{% block conteudo %}
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading"><h1>Transportadoras</h1></div>

            <div class="panel-body">
                <p></p>
            </div>
            <!-- Table -->
            <table class="table">
                <tr>
                    <td><b> <a href="{% url 'tabelas:nova-transportadora' %}"><span class="glyphicon glyphicon-plus-sign"
                                   aria-hidden="true"></span></a></b>
                    </td>
                    <td align="center"><b>Identificador</b></td>

                    <td><b>Nome Fantasia</b></td>
                    <td><b>Telefone</b></td>
                    <td><b>Cidade</b></td>
                    <td><b>CNPJ</b></td>
                    <td  align="center"><b>Habilitado</b></td>
                </tr>
                {% for transportadora in transportadoras_list %}
                    <tr>
                        <td><a href="{% url 'tabelas:edita-transportadora' transportadora.pk %}"> <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> </a></td>
                        <td align="center"> {{ transportadora.identificador }} </td>
                        <td> {{ transportadora.nome_fantasia }} </td>
                        <td> {{ transportadora.telefone }} </td>
                        <td> {{ transportadora.cidade }}/{{ transportadora.uf }}  </td>
                        <td> {{ transportadora.cnpj }} </td>
                        <td align="center"> {{ transportadora.habilitado }} </td>
                    </tr>
                {% endfor %}
            </table>
        </div>


{% endblock %}