<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    {% load static %}
    <title>Casoca</title>
    <link rel="icon" href="{% static 'casoca.ico'%}" type="image/x-icon"/>

    {% include 'config/bootstrap_defaults.html' %}
    {% include 'config/css.html' %}
    {% include 'config/js.html' %}

</head>

<body>
{% load static %}
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
                    data-toggle="collapse" data-target="#mynav">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'logo.png' %}" width="100" class="img-responsive center-block"></a>
        </div>
        {% if user.is_authenticated %}
            <div class="collapse navbar-collapse" id="mynav">

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            Usuário: {{ request.user }}<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" onclick="document.getElementById('logout').submit()">Logout</a></li>
                            <form id="logout" method="post" action="{% url 'logout' %}">
                                {% csrf_token %}
                                <input type="hidden">
                            </form>
                            <li><a href="#">Trocar Senha</a></li>
                        </ul>
                    </li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            Fretes<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'planilhas:upload_file' %}">Carga de Tabelas de Frete</a></li>
                            <li><a href="#">Simular Frete</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            Tabelas<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'tabelas:lista-transportadoras' %}">Transportadoras</a></li>
                            <li><a href="{% url 'magento:lista-lojas' %}">Lojas</a></li>
                        </ul>
                    </li>
                </ul>

            </div>

        {% else %}

            <div class="collapse navbar-collapse" id="mynav">
                <ul class="nav navbar-nav navbar-right">
                    <a class="navbar-brand" href="{% url 'login' %}">Login</a>
                </ul>
            </div>

        {% endif %}

    </div>
</nav>

<div class="container">
    <br/>
    {% block conteudo %}

    {% endblock %}

    <div class="well well-sm col-md-12">

        <div class="col-md-6" align="left">

            <h4>Casoca Marketplace</h4>
            <h6>Rua:Cosmos, 44 sl 300 - Santa Lúcia<br/>
                Belo Horizonte-MG CEP: 30.360-650<br/>
                Tel.: (31) 3317-1807
            </h6>
        </div>
        <div class="col-md-6" align="right">
            <h6>Casoca<br/>
                wwww.casoca.com.br<br/>
                © 2017. (Direitos Reservados)<br/><br/>
                Criado por Criasol</h6>
        </div>
    </div>

</div>

</body>
</html>

