<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    {% load static %}
    <title>Casoca</title>
    <link rel="icon" href="{% static 'casoca.ico'%}" type="image/x-icon"/>
    {% include 'config/bootstrap_defaults.html' %}
    {% include 'config/css.html' %}
    {% include 'config/js.html' %}

</head>

<body>
{% load static %}
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
                    data-toggle="collapse" data-target="#mynav">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'logo.png' %}" width="100" class="img-responsive center-block"></a>
        </div>
        {% if user.is_authenticated %}
            <div class="collapse navbar-collapse" id="mynav">

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            Usuário: {{ request.user }}<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" onclick="document.getElementById('logout').submit()">Logout</a></li>
                            <form id="logout" method="post" action="{% url 'logout' %}">
                                {% csrf_token %}
                                <input type="hidden">
                            </form>
                            <li><a href="#">Trocar Senha</a></li>
                        </ul>
                    </li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            Produtos<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Categorias</a></li>
                            <li><a href="#">Produtos</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            Cadastros<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Empresas</a></li>
                            <li><a href="#">Usuários Pretendentes</a></li>
                            <li><a href="#">Planos</a></li>
                        </ul>
                    </li>
                </ul>

            </div>

        {% else %}

            <div class="collapse navbar-collapse" id="mynav">
                <ul class="nav navbar-nav navbar-right">
                    <a class="navbar-brand" href="{% url 'login' %}">Login</a>
                </ul>
            </div>

        {% endif %}

    </div>
</nav>

<div class="container">
    <br/>
    {% block conteudo %}

    {% endblock %}

</div>

</body>
</html>

