{% extends "base.html" %}
{% load static %}

{% block conteudo %}

    <div class="col-md-12">
        <br/><br/>
        <img src="{% static 'logo.png' %}" class="img-responsive center-block" width="400"><br/><br/>
        <h3 align="center">O Casoca tomou para si a missão de deixar a sua casa ainda mais decorada de boas lembranças!<br/>            ​
            Casoca, por uma casa viva</h3><br/>

        {% if not user.is_authenticated %}
            <div align="center">
                <a href="{% url 'login' %}" class="btn btn-danger">Login</a>
            </div>
            <br/>
        {% endif %}

    </div>

{% endblock %}

