{% extends 'base_admin.html' %}

{% block conteudo %}
    {% include 'config/section.html' %}
    {% load static %}

  <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

    <section>

        <h1><p style="text-align:center;">Login</p></h1>

        {%  if mensagem %}
            {{ mensagem }}
            <br><br>
        {% endif %}
        <form method="post" action="" align="center">
            {% csrf_token %}

            {% if request.GET.next %}
                <input type="hidden" name="next" value="{{ request.GET.next }}">
            {% endif %}

            Usuário:<br>
            <input type="text" name="username"><br>
            Senha:<br>
            <input type="password" name="password"><br /> <br>
        <div align="center">
            <input class="btn btn-danger" type="submit" value="Login ">
        </div>
        </form>

    </section>



{% endblock %}